{% if include.repo %}
<div class="card mb-2">
  <div class="card-body">
    <h4 class="card-title"><i class="fab fa-github" aria-hidden="true"></i> <a href="{{ include.repo.html_url }}" class="card-link">{{ include.repo.name }}</a>{% if include.repo.fork %} <i class="fa fa-code-fork" aria-hidden="true"></i>{% endif %}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ include.repo.description }}</h6>
    {% if include.stats %}
    <hr>
    <div class="row text-center mx-0">
      <div class="col-sm-4 order-sm-0">
        <span>{{ include.repo.watchers_count }}</span>
      </div>
      <div class="col-sm-4 order-sm-3">
        <span><i class="fas fa-eye" aria-hidden="true"></i> Watchers</span>
      </div>
      <div class="col-sm-4 order-sm-1">
        <span>{{ include.repo.stargazers_count}}</span>
      </div>
      <div class="col-sm-4 order-sm-4">
        <span><i class="fas fa-star" aria-hidden="true"></i> Stars</span>
      </div>
      <div class="col-sm-4 order-sm-2">
        <span>{{ include.repo.forks_count }}</span>
      </div>
      <div class="col-sm-4 order-sm-5">
        <span><i class="fas fa-code-branch" aria-hidden="true"></i> Forks</span>
      </div>
    </div>
    {% endif %}
    {% if include.repo.homepage and include.repo.homepage != "" %}
    <hr>
    <a href="{{ include.repo.homepage }}" class="card-link">Project Homepage</a>
    {% elsif include.repo.has_pages %}
    <hr>
    <a href="https://{{ include.repo.owner.login }}.github.io/{{ include.repo.name }}" class="card-link">Project Homepage</a>
    {% endif %}
  </div>
  <div class="card-footer text-muted"><i class="far fa-calendar-alt" aria-hidden="true"></i> Updated on {{ include.repo.pushed_at | date_to_long_string }}</div>
</div>
{% endif %}
