{% if include.repo %}
<div class="card mb-2" style="width: 25rem;">
  <div class="card-body">
    <h4 class="card-title"><i class="fa fa-github" aria-hidden="true"></i> <a href="{{ include.repo.html_url }}" class="card-link">{{ include.repo.name }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ include.repo.description }}</h6>
    <a href="{{ include.repo.html_url }}">
      <img src="https://img.shields.io/github/watchers/{{ include.repo.full_name }}.svg?style=social&amp;label=Watch" alt="GitHub watchers">
    </a>
    <a href="{{ include.repo.html_url }}">
      <img src="https://img.shields.io/github/stars/{{ include.repo.full_name }}.svg?style=social&amp;label=Stars" alt="GitHub stars">
    </a>
    <a href="{{ include.repo.html_url }}">
      <img src="https://img.shields.io/github/forks/{{ include.repo.full_name }}.svg?style=social&amp;label=Fork" alt="GitHub forks">
    </a>
    <p class="card-text">{{ include.repo.description }}</p>
    {% if include.repo.homepage and include.repo.homepage != "" %}
    <a href="{{ include.repo.homepage }}" class="card-link">Project Homepage</a>
    {% elsif include.repo.has_pages %}
    <a href="https://{{ include.repo.owner.login }}.github.io/{{ include.repo.name }}" class="card-link">Project Homepage</a>
    {% endif %}
  </div>
  <div class="card-footer"><i class="fa fa-calendar" aria-hidden="true"></i> Updated on {{ include.repo.pushed_at | date_to_long_string }}</div>
</div>
{% endif %}
