<div>
  <div class="info">
    <img src="{{site.github.owner_gravatar_url}}" class="img-thumbnail"/>
  </div>
  <div class="repo-pages">
    <h1>Related Links</h1>
    {%- for repo in site.github.public_repositories -%}
      {%- unless repo.name == site.github.repository_name or repo.archived or repo.fork -%}
        {%- if repo.homepage and repo.homepage != "" -%}
        <p><a href="{{ repo.homepage }}">{{ repo.name }}</a></p>
        {%- elsif repo.has_pages -%}
        <p><a href="{{ repo.name | prepend:site.baseurl }}">{{ repo.name }}</a></p>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
  <div class="other-pages">
    {%- for repo in site.pages -%}
    <a href="{{ repo.url | relative_url }}">{{ repo.title }}</a>
    {%- endfor -%}
  </div>
</div>
