<div class="d-none d-lg-block">
  <div class="info">
    <img src="{{ site.github.owner_gravatar_url }}" class="img-thumbnail" alt="avatar"/>
  </div>
  <div class="shaker-pages">
    <h1>Shakers</h1>
    <ul>
    {% for shaker in site.shakers %}
      <li><a href="{{ shaker.url | relative_url }}" >{{ shaker.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="repo-pages">
    <h1>Other Projects</h1>
    <ul>
    {%- for repo in site.github.public_repositories -%}
      {%- unless repo.name == site.github.repository_name or repo.archived or repo.fork -%}
        {%- if repo.homepage and repo.homepage != "" -%}
        <li><a href="{{ repo.homepage }}">{{ repo.name }}</a></li>
        {%- elsif repo.has_pages -%}
        <li><a href="{{ repo.name | prepend:site.baseurl }}">{{ repo.name }}</a></li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
    </ul>
  </div>
  {%- if site.pages -%}
  <div class="other-pages">
    <h1>Links</h1>
    <ul>
      <li><a href="{{ site.baseurl }}{% link blog/index.html %}">Blog</a></li>
      {%- for repo in site.pages -%}
      <li><a href="{{ repo.url | relative_url }}">{{ repo.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>
