.blog-post-front-page {
  .blog-post-preview {
    height: 100%;
  }
}

.blog-post-tags {
  i.fa {
    color: $light-green;
  }

  .badge {
    color: $dark-gray;
    background-color: $light-green;
  }
}

.post-content {
  h1 {
    color: $light-green;
  }

  h2, h3, h4, h5, h6 {

  }

  a {
    color: $light-gray;
    text-decoration: underline;
    &:hover {
      text-decoration-color: $bright-red;
    }
  }
}
