.page-content {
  a {
    color: $light-gray;
    text-decoration: underline;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      text-decoration-color: $bright-red;
    }
  }
}
