<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container-fluid my-2">
      <div class="row">
        <div class="col-lg-2 container">
          <ul>
          {%- for repo in site.github.public_repositories -%}
            {%- unless repo.name == site.github.repository_name or repo.archived or repo.fork -%}
              {%- if repo.homepage and repo.homepage != "" -%}
              <li><a href="{{ repo.homepage }}">{{ repo.name }}</a></li>
              {%- elsif repo.has_pages -%}
              <li><a href="{{ repo.name | prepend:site.baseurl }}">{{ repo.name }}</a></li>
              {%- endif -%}
            {%- endunless -%}
          {%- endfor -%}
          </ul>
        </div>
        <div class="col-lg-8">
          <main role="main" class="container">
            {{ content }}
            <div class="row blog-post-front-page">
              {%- assign post = site.posts | first -%}
              {%- if post -%}
              <div class="col-md-12 mb-3 px-2">
                {%- include post-preview.html post=post -%}
              </div>
              {%- assign post = post.previous -%}
              {%- endif -%}
              {%- if site.posts.size >= 3 -%}
              <div class="col-md-6 mb-3 px-2">
                {%- include post-preview.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              <div class="col-md-6 mb-3 px-2">
                {%- include post-preview.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              {%- endif -%}
              {%- if site.posts.size >= 6 -%}
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              {%- endif -%}
              {%- if site.posts.size >= 9 -%}
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              <div class="col-md-6 col-lg-4 mb-3 px-2">
                {%- include post-card.html post=post -%}
                {%- assign post = post.previous -%}
              </div>
              {%- endif -%}
            </div>
          </main>
        </div>
        <div class="col-lg-2 container">
        </div>
      </div>
    </div>
    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>
</html>
