<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div class="container">
      <main role="main" class="container">
        <div class="project-content">
          {{ content }}
        </div>
        {%- assign visible-repos = page.repositories -%}
        {%- for p in site.categories[page.title] -%}
        {%- if p.repositories -%}
        {%- assign visible-repos = visible-repos | concat: p.repositories -%}
        {%- endif -%}
        {%- endfor -%}
        {%- assign visible-repos = visible-repos | uniq -%}
        {%- if visible-repos -%}
        <div class="project-repos">
          <h1>Project Repositories</h1>
          <div class="card-columns">
            {%- assign public_repositories = site.github.public_repositories | sort:"pushed_at" | reverse -%}
            {%- for repo in public_repositories -%}
            {%- if visible-repos contains repo.full_name or visible-repos contains repo.name -%}
            {%- include github-repo-card.html repo=repo -%}
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        {%- endif -%}
        {%- if site.categories[page.title] -%}
        <div class="project-posts">
          <h1> Related Posts</h1>
          {%- for post in site.categories[page.title] -%}
          {%- include post-preview.html post=post -%}
          {%- endfor -%}
        </div>
        {%- endif -%}
      </main>
    </div>
    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>
</html>
